h1 {
  text-align: center;
}
.container-blog {
  padding: 15px 15px 15px 15px;
  margin: 15px 15px 15px 15px;
}

.para {
  padding: 15px 15px 15px 15px;
  margin: auto;
  width: 65%;
}

h1 {
  padding: 15px 15px 15px 15px;
  margin: 15px 15px 15px 15px;
}

.blog {
  padding: 15px 15px 15px 15px;
  margin: 15px 15px 15px 15px;
}
